@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */
  height: 10px; /* for horizontal scrollbars */
}


::-webkit-scrollbar-thumb
{
  background: rgba(99, 99, 99, 0.568);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgba(54, 54, 54, 0.651) ;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin-bottom: 100px;
  min-height: 80vh;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: #f6feff;
    background-size: 600% 600%;
    animation: GradientBackground 8s ease infinite; */

}


.home-main{
    /* background: linear-gradient( 114deg,#4DB4C3, #4DB4C3,#87D1B4 ,#AAD176, #D67ACC); */
    background-image: url("https://images.pexels.com/photos/1029141/pexels-photo-1029141.jpeg?cs=srgb&dl=pexels-nitin-arya-1029141.jpg&fm=jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y:-80px;
    /* background-size: 600% 600%;
    animation: GradientBackground 10s ease infinite; */
    margin: -70px auto 0 auto;
    padding: 205px 0 0 0;
    height: 570px;
}

.back-blur{
  content: ' ';
  position: relative;
  top: 0;
  pointer-events: none;
  left: 0;
  width: 100%;
  height: 100.2%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.377) 0%,rgba(255, 255, 255, 0) 25%);
}

.genre-page{
  /* background: linear-gradient( 114deg, #bdb4fa, #7965fd,#3113f8 );
  background-size: 600% 600%;
  animation: GradientBackground 12s ease infinite; */
  margin: -70px auto 0 auto;
  padding: 125px 0 0 0;
  height: 250px;
}

.romance-page{
  background: linear-gradient(114deg, #D8412F, #FE7A47, #F5CA99);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.thriller-page{
  background: linear-gradient(114deg, #000000,#44010a,  #44010a,#000000);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.young-adult-page{
  background: linear-gradient(93deg, #F9A603, #facd2c, #fce640);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.science-fiction-page{
  background: linear-gradient(80deg, #EA6500, #ff8839, #FDD475);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.fantasy-page{
  background: linear-gradient(80deg, #316d11, #57881f, #7cad43);
  background-size: 600% 600%;
  animation: GradientBackground 7s ease infinite;
}

.poetry-page{
  background: linear-gradient(80deg, #223036, #324851, #6a92a1);
  background-size: 600% 600%;
  animation: GradientBackground 7s ease infinite;
}

.biography-page{
  background: linear-gradient(80deg, #573c27, #6e4e33,  #946845);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.self-help-page{
  background: linear-gradient(80deg, #2f3536, #485153, #626D71);
  background-size: 600% 600%;
  animation: GradientBackground 10s ease infinite;
}

.back-blur-genre {
  content: ' ';
  position: relative;
  pointer-events: none;
  left: 0;
  width: 100%;
  height: 100.3%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%,rgba(255, 255, 255, 0) 25%);
}


@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}


footer{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left:0;
  height: 100px;
  width: 100%;
}

@media (max-width: 500px){
  .home-main{
    margin-top: -65px;
    padding: 100px 0 0 0;
    height: 55vh;
    background-size: 100% 100%;
}


}

@media (max-height: 800px) and (orientation: portrait){

  .home-main{
    height: 450px;
    background-size: 100% 100%;
}

}